In [1]:
my_list = [1, 2, 3]
my_dictionary ={
    'one' : 1,
    'two' : 2,
    'three' : 3,
}

In [2]:
#mapping

my_list =list(range(1,11))

my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
my_list_2 = []
for number in my_list:
    new_number = number * 33
    my_list_2.append(new_number)

In [5]:
my_list_2

[33, 66, 99, 132, 165, 198, 231, 264, 297, 330]

In [7]:
my_list = list(range(1,11))

my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
new_list = []

for number in my_list:
    if number % 2 == 0:
        new_list.append(number)

In [11]:
new_list

[2, 4, 6, 8, 10]

In [13]:
def is_even(x):
    return x % 2 == 0

new_list = []

for element in my_list:
    if is_even(element):
        new_list.append(element)

In [14]:
new_list

[2, 4, 6, 8, 10]

In [15]:
#higher order function 'map'

my_list =list(range(1,11))

def multiply_by_33(x):
    return x * 33

list(map(multiply_by_33, my_list))

[33, 66, 99, 132, 165, 198, 231, 264, 297, 330]

In [16]:
#higher order function 'filter'

my_list =list(range(1,11))

def is_even(x):
    return x % 2 == 0

list(filter(is_even, my_list))

[2, 4, 6, 8, 10]

In [18]:
#Aggregation

my_list = list(range(1,11))

#add all the numbers in the collection together

my_sum = 0
for number in my_list:
    my_sum += number

In [20]:
my_sum

55

In [22]:
table_1 = {
    ['item_sold' : 'quantity']
    ['Chicken' : 1]
    ['Iced Tea' :2]
}

table_2 = {
    'item_sold' : ['Chicken', 'Iced Tea']
    'quantity' : [1, 2]
}

table_3 = '''
item_sold,quantity
Chicken,1
Iced Tea,2
'''

table_4 = [
    {'item_sold': 'Chicken', 'quantity':1}
    {'item_sold': 'Iced Tea', 'quantity':2}
    {'item_sold': 'Milk tea', 'quantity':2}
]

SyntaxError: invalid syntax (1093947083.py, line 2)